{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="shadowed col-sm-12 col-md-10 offset-md-1 bs-jumbo p-5">
    <a href="/admin/projects/{{module.project}}/modules/{{module.slug}}/edit" class="btn bs-button">Edit Module</a>
    <a href="/admin/projects/{{module.project}}/modules/{{module.slug}}/delete" class="btn bs-button">Delete Module</a>
    <a href="/admin/projects/{{module.project}}/modules/{{module.slug}}" class="btn bs-button">Cancel</a>


    <h3>{{module.name}}</h3>
    <p>{{module.summary | raw}}</p>
    <p>{{module.discussion | raw}}</p>


</div>
{% endblock %}
